AUTH_DB_USER=auth-db-username
AUTH_DB_PASSWORD=auth-db-password
AUTH_DB_NAME=auth-db-name

REPERTOIRE_DB_USER=repertoire-db-username
REPERTOIRE_DB_PASSWORD=repertoire-db-password
REPERTOIRE_DB_NAME=repertoire-db-name

RABBITMQ_USER=username
RABBITMQ_PASSWORD=password
