.env
.env.*
!.env.example

.venv/
venv/
env/
ENV/

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/

.mypy_cache/
.dmypy.json
dmypy.json

.ruff_cache/

celerybeat-schedule
celerybeat.pid

*.sqlite
*.sqlite3
*.db

*.log
logs/

.vscode/

docker-compose.override.yml

**/keys/private_key.pem
